#footer
  .inner
    .columns.clearfix
      .column
        .heading ABOUT THE MOVEMENT
        %p= link_to "Goal & Vision", '/page/goal-vision'
        %p= link_to "History", '/page/out-history'
        %p= link_to "Leadership", '/page/how-to-join'
        %p= link_to "FAQ", '/page/faq'

      .column
        .heading PARTNERS
        %p= link_to "Who We Are", '/page/partners'
        %p= link_to "History", '/page/our-history'
        %p= link_to "Leadership", '/page/our-leadership'
        %p= link_to "FAQ", '/page/faq'

      .column
        .heading RESEARCH & LEARNING
        %p= link_to "Research & Learning", '/page/research-and-learning'
        %p= link_to "Notable Series", '/page/notable-series'

      .column
        .heading GET INVOLVED
        %p= link_to "Join", page_path(:commitments)
        %p= link_to "Teach", '/page/teach'
        %p= link_to "Donate", '/page/donate'

      .column
        .heading NEWS & RESOURCES
        %p= link_to "Resources", '/page/press'
        %p= link_to "Press", '/page/press'

    .copyright
      %p © 2012 100Kin10.org
      %p= link_to 'Privacy and Terms of Service', '/page/privacy', class: 'copyright_link'


