<% Content.insert page_slug do |c| %>

<div id="leftcolumn">
<div id="maincontent"> <!-- this is where the main content / running text should go -->

  <div class="new_heading"><%= defined?(subsection) ? subsection : c.render_field(:title) %></div>
  <div class="new_subheading"><%= c.render_field(:lede) %></div>

  <% if defined?(subsection) %>
    <% c.subsections.where(:title => subsection).each do |sub| %>
      <div class="subsection" id="<%= sub.slug %>">
        <%= sub.render_field(:body) %>
      </div>
    <% end %>
  <% else %>
    <div id="maincontent_landing">
    <%= c.render_field(:body) %>
    </div>
  <% end %>

</div><!-- end maincontent -->
</div><!-- end leftcolumn -->


<div id="rightcolumn">
  <img src="http://100kin10.org/images/column_microscope.jpg" id="rightphoto" alt="100kin10" border="0" />

  <% if c.subsections.any? %>
    <ul class="new_submenu">
      <% c.subsections.each do |subsection| %>
        <% klass = current_page?("/page/#{subsection.title.parameterize}") ? "active" : "" %>
        <li><a href="/page/<%= subsection.title.parameterize %>" class="subnav1 <%="#{klass}"%>"><%= subsection.render_field(:title) %></a></li>
      <% end %>
    </ul>
  <% end %>

  <p style="margin-bottom:16px"><strong>100Kin10</strong> invites everyone to join the movement. Teach, donate, or participate to get involved today.</p>
  <ul class="new_submenu_nobars">
    <li><a href="" class="subnav1">Get Involved</li>
  </ul>

</div><!-- end rightcolumn -->

<% end %>
<%= javascript_include_tag :search %>
