<% Content.insert page_slug do |c| %>

<div id="leftcolumn">
<div id="contentheader"><!-- the colorblock header above the texual content -->
<table id="contenttbl">
<tr> <td width="220">
  <% if page_slug == 'page_aboutus' %>
    <h1><%= link_to 'ABOUT US', '/page/aboutus' %></h1>
  <% else %>
    <h1><%= link_to c.render_field(:title), page_path %></h1>
  <% end %>
</td>
<td width="17"><img src="/images/arrowright.png" width="12" height="148" alt="" /></td>
<td width="440">
<div class="copyblock">
<%= c.render_field(:lede) %>
</div>
</td>
</tr></table>
  <% if c.subsections.any? %>
  <div id="contentnav">
  <ul class="tabs">
    <% c.subsections.each do |subsection| %>
      <% klass = current_page?("/page/#{subsection.title.parameterize}") ? "active" : "" %>
      <li><a href="/page/<%= subsection.title.parameterize %>" class="subnav1 <%="#{klass}"%>"><%= subsection.render_field(:title) %></a></li>
    <% end %>
  </ul>
  <% if @searchable %>
  <!-- search box -->
  <div style="clear:right;float:right;text-align:right;padding:5px;position:relative;top:2px;">
  <span class="contentsearch" style="text-transform:none;color:#fff;font-family:arial,sans;font-size:11px;">
  search <input type="text" name="contentsearch" style="width:120px;" /> <input type="submit" class="gobutton" value="GO"><br />
  </span>
  </div><!-- end search box -->
  <% end %>
  </div><!-- end contentnav -->
  <% end %>
</div><!-- end contentheader -->
<div style="clear:both;"></div>

<div id="maincontent"> <!-- this is where the main content / running text should go -->

  <% if defined?(subsection) %>
    <% c.subsections.where(:title => subsection).each do |sub| %>
      <div class="subsection" id="<%= sub.slug %>">
        <%= sub.render_field(:body) %>
      </div>
    <% end %>
  <% else %>
    <div id="maincontent_landing">
    <%= c.render_field(:body) %>
    </div>
  <% end %>

</div><!-- end maincontent -->
</div><!-- end leftcolumn -->


<div id="rightcolumn">
  <img src="http://100kin10.org/images/column_microscope.jpg" id="rightphoto" alt="100kin10" border="0" />
  <div id="graybox">
    <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
    <div class="twitterfeed">
      <img src="/images/twitter_bird.png" width="50" height="37" alt="Follow 100kin10 on Twitter" />
      <h3>Follow <a href="http://twitter.com/#!/100kin10" target="_blank">100kin10</a> on Twitter</h3>
      <div id="tweet"></div>
    </div><!-- end twitterfeed -->
  </div><!-- #graybox -->
</div><!-- end rightcolumn -->

<% end %>
<%= javascript_include_tag :search %>
