<script>
  $(document).ready(function() {
    $('.section_square').bind('click',function(event){
      window.location=$(this).find('a').attr('href');
    });

    $('#partner_image_holder img').click(function() {
      window.location='/page/partners';
    });

  });
</script>



<div class="blurb">
  <img src="/assets/front_page_blurb.jpg" />
  <p>Our goal is to provide America's classrooms with 100,000 Science, Technology, Engineering, and Math teachers over the next 10 years.</p>
</div>
<div class="placeholder">
  <ul id="custom_slider">
    <li><img src="/assets/front_page_placeholder1.jpg" /></li>
    <li><img src="/assets/front_page_placeholder2.jpg" /></li>
    <li><img src="/assets/front_page_placeholder3.jpg" /></li>
    <li><img src="/assets/front_page_placeholder4.jpg" /></li>
  </ul>
  <ul id="custom_slider_triggers">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>


<div class="clear">&nbsp;</div>

<div class="faqbox section_square">
<% Content.insert('homepage_faq') do |c| %>
<div class="faqboxdiv"><h1><%= c.render_field(:title) %></h1>
<img src="/images/arrowdown.png" alt="" style="margin-top:5px;" />
<div class="copyblock homebuttons">
  <%= c.render_field(:body) %>
</div>
</div>
<% end %>
</div>

<div class="aboutbox section_square">
<% Content.insert('homepage_about_us') do |c| %>
<div class="aboutcontent"><h1><%= c.render_field(:title) %></h1>
<img src="/images/arrowdown.png" alt="" style="margin-top:5px;" />
<div class="copyblock homebuttons">
  <%= c.render_field(:body) %>
</div>
</div>
<% end %>
</div>

<div class="partnerbox section_square">
<% Content.insert('homepage_view_partners') do |c| %>
<div class="partnerboxdiv"><h1><%= c.render_field(:title) %></h1>
<img src="/images/arrowdown.png" alt="" style="margin-top:5px;" />
<div class="copyblock homebuttons">
  <%= c.render_field(:body) %>
</div>
</div>
<% end %>
</div>

<div class="commitmentbox section_square">
<% Content.insert('homepage_more_commitments') do |c| %>
<div class="commitmentboxdiv"><h1><%= c.render_field(:title) %></h1>
<img src="/images/arrowdown.png" alt="" style="margin-top:5px;" />
<div class="copyblock homebuttons">
  <%= c.render_field(:body) %>
</div>
</div>
<% end %>
</div>


<div class="clear">&nbsp;</div>
<div class="spacer_20">&nbsp;</div>

<script>

  var displayLength=7;

  var scroll_partners_left=function(){
    $('#partner_scroll').append($('#partner_image_holder > img').slice(0,displayLength));
    removeElementsCount=$('#partner_scroll > img').length - displayLength;
    $('#partner_image_holder').append($('#partner_scroll > img').slice(0,$('#partner_scroll > img').length - displayLength));
  }

  var scroll_partners_right=function(){
    $('#partner_scroll').prepend($('#partner_image_holder > img').slice(displayLength*(-1)));
    $('#partner_image_holder').prepend($('#partner_scroll > img').slice(displayLength*(-1)));
  }

  $(document).ready(function(){
    scroll_partners_left();

  });



</script>

<h1 class="logoheading">100kin10 Partners Committed To Excellence<h1>
<div id="logoscroll">
<a href="#" onclick="scroll_partners_left(); return false;"><img src="/images/scroll_left.png" alt="Scroll Left" style="border:0;" /></a>
<!-- begin logos -->
<div id="partner_scroll_wrapper">
<div id="partner_scroll">

</div>
</div>
<!-- end logos -->
<a href="#" onclick="scroll_partners_right(); return false;"><img src="/images/scroll_right.png" alt="Scroll Right" style="border:0;" /></a>
</div><!-- end logoscroll div -->



<div id="partner_image_holder" style="display:none;">
<% Organization.funding_partners.each do |organization| %>
  <%= image_tag organization.avatar.grey_tile.url %>
<% end %>
<% Organization.regular_partners.each do |organization| %>
  <%= image_tag organization.avatar.grey_tile.url %>
<% end %>
</div>


