- sidebar_image = nil
- results ||= {}
- facets = {'showFacetCounts' => true, :subject4 => -4, :page => 1}
- results = Donor::Search.find(facets)


- Content.insert 'page_takeaction' do |c|
  #leftcolumn
    #contentheader
      / the colorblock header above the texual content
      %table#contenttbl
        %tr
          %td{:width => "220"}
            %h1= link_to c.render_field(:title), '/page/takeaction'
          %td{:width => "17"}
            %img{:alt => "", :height => "148", :src => "/images/arrowright.png", :width => "12"}/
          %td{:width => "440"}
            .copyblock
              = c.render_field(:lede)
      - if c.subsections.any?
        #contentnav
          %ul.tabs
            %li
              %a.subnav1{:href => "/page/teach", :id => "subnav_teacher_opportunities", :class => (current_page?("/page/teach") ? "active" : "")} Teach
            %li
              %a.subnav1{:href => "/page/donate", :id => "subnav_donorchoose_donate", :class => (current_page?("/page/donate") ? "active" : "")} Donate
            %li
              %a.subnav1{:href => "/page/participate", :id => "subnav_participate", :class => (current_page?("/page/participate") ? "active" : "")} Participate

            - c.subsections.each do |subsection|
              - next if(['teach', 'donate', 'participate'].include?(subsection.title.downcase))
              %li
                %a.subnav1{:href => "#", :id => "subnav_#{subsection.slug}"}= subsection.render_field(:title)
          - if false && @searchable
            / search box
            %div{:style => "clear:right;float:right;text-align:right;padding:5px;position:relative;top:2px;"}
              %span.contentsearch{:style => "text-transform:none;color:#fff;font-family:arial,sans;font-size:11px;"}
                search
                %input{:name => "contentsearch", :style => "width:120px;", :type => "text"}/
                %input.gobutton{:type => "submit", :value => "GO"}/
                %br/
            / end search box
        / end contentnav
    / end contentheader

    %div{:style => "clear:both;"}
    #maincontent
      - if content_for? :subsection
        = yield :subsection
      - else
        #maincontent_landing
          = c.render_field(:body)






  #rightcolumn
    %img#rightphoto{:alt => "100kin10", :border => "0", :src => sidebar_image ? sidebar_image : '/images/column_action.jpg'}/
    #graybox.takeactions{ style: 'height: 3200px' }
      #graybox_donorchoose_donate.facets
        = render :partial => 'shared/facets', :locals => {:results => results} if current_page?("/page/donate")
      #graybox_teach_opportunities
      %script{ charset: 'urf-8', src: 'http://widgets.twimg.com/j/2/widget.js' }
      .twitterfeed
        = image_tag '/images/twitter_bird.png', width: 50, height: 37, alt: 'Follow 100kin10 on Twitter'
        %h3 Follow #{ link_to '100kin10', 'http://twitter.com/#!/100kin10', target: '_blank' } on Twitter
        #tweet
        &nbsp;
  / end rightcolumn

= javascript_include_tag :search
