- sidebar_image = nil
- results ||= {}
- facets = {'showFacetCounts' => true, :subject4 => -4, :page => 1}
- results = Donor::Search.find(facets)


- Content.insert 'page_takeaction' do |c|
  #leftcolumn
    #maincontent
      .new_heading= cool_heading (defined?(heading) ? c.render_field(:title) + ": " + heading : c.render_field(:title))
      .new_subheading= c.render_field(:lede)

      - if false && @searchable
        %div{:style => "clear:right;float:right;text-align:right;padding:5px;position:relative;top:2px;"}
          %span.contentsearch{:style => "text-transform:none;color:#fff;font-family:arial,sans;font-size:11px;"}
            search
            %input{:name => "contentsearch", :style => "width:120px;", :type => "text"}
            %input.gobutton{:type => "submit", :value => "GO"}

      - if content_for? :subsection
        = yield :subsection
      - else
        #maincontent_landing
          = c.render_field(:body)

      .clear

  #rightcolumn
    - unless current_page?("/page/donate")
      = image_tag '/images/column_action.jpg', id: "rightphoto"

    - if c.subsections.any?
      %ul.new_submenu
        %li
          %a.subnav1{:href => "/page/teach", :id => "subnav_teacher_opportunities", :class => (current_page?("/page/teach") ? "active" : "")} Teach
        %li
          %a.subnav1{:href => "/page/donate", :id => "subnav_donorchoose_donate", :class => (current_page?("/page/donate") ? "active" : "")} Donate
        %li
          %a.subnav1{:href => "/page/participate", :id => "subnav_participate", :class => (current_page?("/page/participate") ? "active" : "")} Participate

          - c.subsections.each do |subsection|
            - next if(['teach', 'donate', 'participate'].include?(subsection.title.downcase))
            %li
              %a.subnav1{:href => "#", :id => "subnav_#{subsection.slug}"}= subsection.render_field(:title)

      %p{ style: 'margin-bottom:16px' }
        %strong 100kin10
        invites everyone to join the movement. Teach, donate, or participate to get involved today.

      %ul.new_submenu_nobars
        %li= link_to "Get Involved", ''

    - if current_page?("/page/donate")
      #graybox.takeactions{ style: 'height: 3200px' }
        #graybox_donorchoose_donate.facets
          = render :partial => 'shared/facets', :locals => {:results => results} if current_page?("/page/donate")
        #graybox_teach_opportunities



= javascript_include_tag :search
