<!DOCTYPE html>
<html>
  <head>
    <title>100kin10 | Answering the Nation's Call</title>
    <!--   <%= stylesheet_link_tag    "application" %> -->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link href="/css/main.css" rel="stylesheet" type="text/css" />
    <link href="/assets/search.css" rel="stylesheet" type="text/css" />
    <link href="/css/custom.css" rel="stylesheet" type="text/css" />
    <% case params[:action] %>
    <% when 'index' %>
      <link href="/css/homepage.css" rel="stylesheet" type="text/css" />
    <% when 'commitments' %>
      <!--       <link href="/css/turquoisestyles.css" rel="stylesheet" type="text/css" /> -->
      <!--include for Commitments pages -->
      <link href="/css/ltbluestyles.css" rel="stylesheet" type="text/css" />
    <% when 'faq' %>
      <!--include for FAQ pages -->
      <link href="/css/bluestyles.css" rel="stylesheet" type="text/css" />
    <% when 'news' %>
      <!--include for News pages -->
      <link href="/css/greenstyles.css" rel="stylesheet" type="text/css" />
    <% when 'partners' %>
      <!--include for Partners pages -->
      <link href="/css/turquoisestyles.css" rel="stylesheet" type="text/css" />
    <% else %>
      <!--include for About Us and any other pages not specified -->
      <link href="/css/yellowstyles.css" rel="stylesheet" type="text/css" />
    <% end %>

    <!--Added on 27 April for Twitter feeds in Aboutus page-->
     <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
     <%= stylesheet_link_tag    "/css/twitter_style.css" %>
    <!--End Twitter feeds-->

    <%= javascript_include_tag "application" %>

    <script type="text/javascript">
      <!--
      function resizeGraybox() {
        var divheighta = document.getElementById('leftcolumn').offsetHeight;
        var divheightb = document.getElementById('rightcolumn').offsetHeight;
        var divheightc = document.getElementById('rightphoto').offsetHeight;
        /*   alert(divheighta); */
        //this forces the gray box in the right column under the photo to extend down and fill out the page based on the height of the left column
        if(divheightb < divheighta){
          document.getElementById("graybox").style.height =  (divheighta - divheightc) - 10+"px";
        }
      }
      //-->
    </script>


    <% Content.insert('share_facebook') do |c| %>
      <meta property="og:title" content="<%= c.render_field(:title) %>" />
      <meta property="og:description" content="<%= strip_tags c.render_field(:body).squish %>" />
      <meta property="og:image" content="<%= c.parse_body('img')[0]['src'] if c.parse_body('img').any? %>" />
    <% end %>



  </head>
  <body id="<%= params[:action]=='index' ? 'home' : params[:action] %>" onLoad="resizeGraybox()">
    <div class="wrapper">

      <div id="topbox">
        <div id="header">
          <div id="logo">
            <%= link_to root_path do %>
              <img src="/images/logo.png" class="logoimg" border="0" alt="100kin10" />
            <% end %>
          </div><!-- end logo -->
          <div id="secondarynav">
            <ul>
              <li><%= link_to 'Partner Login', welcome_index_path, :class=>'portal' %></li>
              <li><%#= link_to 'Contact US', 'mailto:info@100Kin10.org', :class=>"contact" %><%= link_to 'Contact US', contactus_url, :class=>"contact" %></li>
            </ul>
          </div><!-- end secondarynav -->
          <div id="mainnav">
            <ul>
              <li><%= link_to "About us", page_path(:aboutus), :id=>"aboutnav" %></li>
              <li><%= link_to "Partners", page_path(:partners), :id=>"partnersnav" %></li>
              <li><%= link_to "Commitments", page_path(:commitments), :id=>"commitnav" %></li>
              <li><%= link_to "Take Action", page_path(:takeaction), :id=>"faqnav" %></li>
              <li><%= link_to "Press", page_path(:press), :id=>"newsnav" %></li>
            </ul>

          </div><!-- end mainnav -->
        </div><!-- end header -->
      </div><!-- end topbox -->


      <div id="content">
        <%= yield %>
      </div><!-- end content -->




      <div class="push"></div><!-- needed to stick footer to bottom of screen -->
    </div><!-- end wrapper -->

    <div class="footer">
      <div class="footerbox">
        <span class="footerheader">SHARE: </span>
        &nbsp;
        <a href="https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Fwww.100kin10.org%2F&amp;source=tweetbutton&amp;text=<%= strip_tags Content.insert('share_twitter_message').squish %>&amp;url=http%3A%2F%2Fwww.100kin10.org"><img src="/images/icons/Twitter_24x24.png" class="footericon" alt="twitter" border="0" /></a>

        <a href="http://www.facebook.com/sharer.php?u=http://www.100kin10.org"><img src="/images/icons/Facebook_24x24.png" class="footericon" alt="facebook" border="0" /></a>
        &nbsp;
        Contact Us: <a href="mailto:info@100Kin10.org">info@100Kin10.org</a> &copy; 2011 &nbsp;  <a href="/page/privacy">Privacy and Terms of Service</a>
      </div><!-- end footerbox -->
    </div><!-- end footer -->
    <%= javascript_include_tag 'google_analytics.js' %>
  </body>
</html>

