<!DOCTYPE html>
<html>
  <head>
    <title>100kin10 | Answering the Nation's Call</title>
    <!--   <%= stylesheet_link_tag    "application" %> -->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link href="/css/main.css" rel="stylesheet" type="text/css" />
    <link href="/assets/search.css" rel="stylesheet" type="text/css" />
    <link href="/css/custom.css" rel="stylesheet" type="text/css" />
    <% case params[:action] %>
    <% when 'index' %>
      <link href="/css/homepage.css" rel="stylesheet" type="text/css" />
    <% when 'commitments' %>
      <!--       <link href="/css/turquoisestyles.css" rel="stylesheet" type="text/css" /> -->
      <!--include for Commitments pages -->
      <link href="/css/ltbluestyles.css" rel="stylesheet" type="text/css" />
    <% when 'faq' %>
      <!--include for FAQ pages -->
      <link href="/css/bluestyles.css" rel="stylesheet" type="text/css" />
    <% when 'news' %>
      <!--include for News pages -->
      <link href="/css/greenstyles.css" rel="stylesheet" type="text/css" />
    <% when 'partners' %>
      <!--include for Partners pages -->
      <link href="/css/turquoisestyles.css" rel="stylesheet" type="text/css" />
    <% else %>
      <!--include for About Us and any other pages not specified -->
      <link href="/css/yellowstyles.css" rel="stylesheet" type="text/css" />
    <% end %>
    <%= stylesheet_link_tag    "new_design" %>

    <!--Added on 27 April for Twitter feeds in Aboutus page-->
     <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
     <%= stylesheet_link_tag    "/css/twitter_style.css" %>
    <!--End Twitter feeds-->

    <%= javascript_include_tag "application" %>

    <script type="text/javascript">
      <!--
      function resizeGraybox() {
        var divheighta = document.getElementById('leftcolumn').offsetHeight;
        var divheightb = document.getElementById('rightcolumn').offsetHeight;
        var divheightc = document.getElementById('rightphoto').offsetHeight;
        /*   alert(divheighta); */
        //this forces the gray box in the right column under the photo to extend down and fill out the page based on the height of the left column
        if(divheightb < divheighta){
          document.getElementById("graybox").style.height =  (divheighta - divheightc) - 10+"px";
        }
      }
      //-->
    </script>


    <% Content.insert('share_facebook') do |c| %>
      <meta property="og:title" content="<%= c.render_field(:title) %>" />
      <meta property="og:description" content="<%= strip_tags c.render_field(:body).squish %>" />
      <meta property="og:image" content="<%= c.parse_body('img')[0]['src'] if c.parse_body('img').any? %>" />
    <% end %>


    <script type="text/javascript" src="//use.typekit.net/xdd2xph.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body id="<%= params[:action]=='index' ? 'home' : params[:action] %>" onLoad="resizeGraybox()">
    <div class="wrapper">

      <div id="topbox">
        <div id="header">
          <div id="logo">
            <%= link_to (image_tag '/assets/logo.jpg'), root_path %>
          </div><!-- end logo -->
          <div id="secondarynav">
            <ul>
              <li><%= link_to 'Partner Login', welcome_index_path, :class=>'partner_login' %></li>
              <li><%= link_to 'Contact Us', contactus_url, :class=>"contact_us" %></li>
            </ul>
          </div><!-- end secondarynav -->
          <div id="mainnav">
            <ul>
              <li>
                <%= link_to raw("About The<br />Movement"), page_path(:aboutus), :id=>"aboutnav", class: 'head' %>
                <ul>
                  <li><%= link_to "Goal and Vision", '/page/goal-vision' %></li>
                  <li><%= link_to "History", '/page/our-history' %></li>
                  <li><%= link_to "Leadership", '/page/our-leadership' %></li>
                  <li><%= link_to "FAQ", '/page/faq' %></li>
                </ul>
              </li>
              <li>
                <%= link_to raw("100kin10<br />Partners"), page_path(:partners), :id=>"partnersnav", class: 'head' %>
                <ul>
                  <li><%= link_to "Who We Are", '/page/partners' %></li>
                  <li><%= link_to "Funders", '' %></li>
                  <li><%= link_to "Commitments", '/page/commitments' %></li>
                  <% # link_to "Partner Spotlight", '' %>
                </ul>
              </li>
              <li>
                <%= link_to raw("Research &<br />Learning"), '', :id=>"rdnav", class: 'head' %>
                <ul>
                </ul>
              </li>
              <li>
                <%= link_to raw("Get<br />Involved"), page_path(:commitments), :id=>"commitnav", class: 'head' %>
                <ul>
                  <li><%= link_to "Join", page_path(:commitments) %></li>
                  <li><%= link_to "Teach", '/page/teach' %></li>
                  <li><%= link_to "Donate", '/page/donate' %></li>
                  <% # link_to "Participate", '/page/participate' %>
                </ul>
              </li>
              <li>
                <%= link_to raw("News &<br />Resources"), page_path(:press), :id=>"newsnav", class: 'head' %>
                <ul>
                  <li><%= link_to "Resources", page_path(:press) %></li>
                  <li><%= link_to "Press", '/page/press' %></li>
                  <% # link_to "Success Stories", '' %>
                </ul>
              </li>
            </ul>

          </div><!-- end mainnav -->
        </div><!-- end header -->
      </div><!-- end topbox -->


      <div id="content">
        <%= yield %>
      </div><!-- end content -->




      <div class="push"></div><!-- needed to stick footer to bottom of screen -->
    </div><!-- end wrapper -->

    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'google_analytics.js' %>
  </body>
</html>

