#leftcolumn
  %h1#head= "Thank You #{@contactus_data.firstname} #{@contactus_data.lastname}"
  -#%strong= "#{@contactus_data.firstname}"+" "+"#{@contactus_data.lastname}" + ","
  #thankyou= "Your contact details have been successfully submitted."
